*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* Reset básico */





body {
    
    width: 100%;
    height: 80%;
    font-family: sans-serif;
    background-color: rgb(186, 204, 238);
    color: #575454;
    line-height: 1.6;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
 
   
}



header{
    background-color:#767994d0;
    text-align: center;
    padding: 40px 40px ;
    position: relative;
    z-index: 1;
   
}







.title{
    width: 70%;
    height: 70%;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 20px;
    color: yellowgreen;
    /* background-image: url(img/sol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    
    border-radius: 20px;
    text-align: center;
    box-shadow: 9px 9px 10px rgba(141, 90, 90, 0.3)
    
}

.name{
    color: rgb(222, 181, 135);
}

.welcome{
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
    color: darkgreen;
   background-color: rgb(97, 209, 144);
   
}

.top{
    width: 70%;
    height: 80%;
    align-items: center;
    text-align: center;
    margin-left: 15%;
    margin-top: 60px;
    font-size: 25Px;
}






section{
    margin-bottom: 40px;
}

.iten-01{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    
}

.iten-02{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    
}

.iten-03{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 217, 0);
    
}




.pratica{
    color: chocolate;
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
}


.card{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    background-color: #79f5eb;
    color: rgb(0, 128, 90);
    border-radius:  30px;
    padding: 40px;
    font-size: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.nav{
    margin-bottom: 20Px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    place-items: center;
    /* height: 20vh; */
    color: aqua;
  
}

.P{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 15%;
    text-decoration: none;
    color: rgb(9, 49, 49);
    align-items: center;
    text-align: center;

}

nav{
    position: relative;
     text-align: center;
     align-items: center;

}

#cinema{
    height: 10vh;
    font-size: 20px;
    /* line-height: 1.6; */
    width: 50%;
    background-color: #333;
    margin: auto ;
    display: flex;
    justify-content: center;
    color: red;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

nav{
    text-decoration: none;
}

#cinema:hover{
    transition: 0.3s ease;
    background-color: rgb(24, 184, 136);
    color: rgb(17, 39, 238);
    font-size: 30px;
    font-style: italic;
    text-decoration: none;
    border-radius:50px;
} 

#cinema {
    
    transform: scale(1.2);
  
} 


h3{
    height: 20vh;
    margin-top: 30%;
    color: rgb(24, 184, 136);
    background-color: #580c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contato{
    height: 100vh;
    align-items: center;
}

 


    
.icon-button :hover {
    transform: scale(1.2);
}

.redes{
    font-size: 20px;
    margin-top: 10%;
}


.icon-button{
    width: 40Px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
}
   
.icon-button--github{
    background: #222222;
    
}

.icon-button--instagram{
    background: #f50e0ecc;   
}

.icon-button--linkedin{
    background: #007aff; 
}

.icon-button a {
    color: #fff;
    font-size: 20px;
}

.icon-button i{
    font-size: 22px;
}

.icon-button:hover{
    background-color: rgba(134, 163, 197, 0.815);
}

.icon-button i:hover{
    color: #2d2d2d;
}

footer{
    text-align: center;
    background-color: rgb(160, 172, 184);
    color: #663106;
    padding: 15px;
    position: relative;
}

.r{
    font-size: 20px;
    color: rgb(46, 43, 43);
}

@media (max-width:450px){
    header h1 {
        font-size: 1.5rem;
    }
    .card{
        font-size: 0.95rem;
    }
    .icon a {
        font-size: 1.5rem;
    }
}